.Manu{
    background-color: #47d1f3;
    display: flex;
    
}
.Manu a{
    text-decoration: none;
    padding: 20px;
    color: white;
}
.Manu a:hover{
    background-color: gray;

}

.Manu img{
    width: 30px;
    padding-right: 800px;
    padding-left:50px ;
}


@media screen and (max-width:600px) {
    .Manu{
        flex-direction: column;
        padding: 10px;
    }
    .Manu a{
        background-color: rgb(26, 156, 243);
        margin: 10px;
        text-align: center;
        border-radius: 10px;
    }
}
body{
    margin: 0;
}
.H-F{
    width: 40%;
    float: left;
    padding: 3px;
    margin: 4%;
}
.H-F video{
        width: 90%;
        border-radius: 15px;
}
#H1-1{
    text-align: center;
}
.h11{
    color: #ee9828;
}
.h22{
    color: #15c3f8;
}
